In [72]:
import pandas as pd
import numpy as np
import re

In [2]:
# pd.read_csv("GSAF5.csv", encoding = 'utf-8', errors = 'ignore')
# pd.read_csv("GSAF5.csv", sep = "\t", encoding = 'utf-8', errors = 'ignore')
# df = pd.read_csv('GSAF5.csv', sep = "\t", encoding = 'CP949', errors = 'ignore')
# pd.read_csv('GSAF5.csv', sep = '\t', encoding = 'utf-8')


df = pd.read_csv("GSAF5.csv", encoding = "ISO-8859-1")

In [3]:
df.shape

(5992, 24)

In [4]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [5]:
# df.head()
df.head(3)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN

In [6]:
# df.head().transpose()

In [7]:
# df.describe(include = 'all')
# df.describe()

In [8]:
# df.isnull()

In [9]:
# df.dtypes

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5992 entries, 0 to 5991
Data columns (total 24 columns):
Case Number               5992 non-null object
Date                      5992 non-null object
Year                      5992 non-null int64
Type                      5992 non-null object
Country                   5949 non-null object
Area                      5590 non-null object
Location                  5496 non-null object
Activity                  5465 non-null object
Name                      5792 non-null object
Sex                       5425 non-null object
Age                       3311 non-null object
Injury                    5965 non-null object
Fatal (Y/N)               5973 non-null object
Time                      2779 non-null object
Species                   3058 non-null object
Investigator or Source    5977 non-null object
pdf                       5992 non-null object
href formula              5991 non-null object
href                      5989 non-null object
Case Number.1             5992 non-null object
Case Number.2             5992 non-null object
original order            5992 non-null int64
Unnamed: 22               1 non-null object
Unnamed: 23               2 non-null object
dtypes: int64(2), object(22)
memory usage: 1.1+ MB

In [11]:
# df.isnull().sum()

In [12]:
null_cols = df.isnull().sum()

In [13]:
null_cols[null_cols > 0]

Country                     43
Area                       402
Location                   496
Activity                   527
Name                       200
Sex                        567
Age                       2681
Injury                      27
Fatal (Y/N)                 19
Time                      3213
Species                   2934
Investigator or Source      15
href formula                 1
href                         3
Unnamed: 22               5991
Unnamed: 23               5990
dtype: int64

In [14]:
# df["Case Number"].value_counts()
# df["Date"].value_counts()
# df["Year"].value_counts()
# df["Type"].value_counts()
# df["Country"].value_counts()
# df["Area"].value_counts()
# df["Location"].value_counts()
# df["Activity"].value_counts()
# df["Name"].value_counts()
# df["Sex "].value_counts()
# df["Age"].value_counts()
# df["Injury"].value_counts()
# df["Fatal (Y/N)"].value_counts()
# df["Time"].value_counts()
# df["Species "].value_counts()
# df["Investigator or Source"].value_counts()
# df["pdf"].value_counts()
# df["href formula"].value_counts()
# df["href"].value_counts()
# df["Case Number.1"].value_counts()
# df["Case Number.2"].value_counts()
# df["original order"].value_counts()
# df["Unnamed: 22"].value_counts()
df["Unnamed: 23"].value_counts()

Teramo             1
change filename    1
Name: Unnamed: 23, dtype: int64

In [15]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [16]:
df = df[['original order', 'Case Number', 'Time', 'Location', 'Name', 'Sex ', 'Age', 'Activity', 'Species ', 'Injury', 'Fatal (Y/N)', 'Investigator or Source', 'href', 'Date', 'Year', 'Country', 'Area', 'pdf', 'Type', 'href formula', 'Case Number.1', 'Case Number.2', 'Unnamed: 22', 'Unnamed: 23']]

In [17]:
drop_cols = list(null_cols[null_cols > 5000].index)
df = df.drop(drop_cols, axis = 1)

In [19]:
df.head(3)

,original order,Case Number,Time,Location,Name,Sex,Age,Activity,Species,Injury,...,href,Date,Year,Country,Area,pdf,Type,href formula,Case Number.1,Case Number.2
0,5993,2016.09.18.c,13h00,"New Smyrna Beach, Volusia County",male,M,16,Surfing,NaN,Minor injury to thigh,...,http://sharkattackfile.net/spreadsheets/pdf_di...,18-Sep-16,2016,USA,Florida,2016.09.18.c-NSB.pdf,Unprovoked,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c
1,5992,2016.09.18.b,11h00,"New Smyrna Beach, Volusia County",Chucky Luciano,M,36,Surfing,NaN,Lacerations to hands,...,http://sharkattackfile.net/spreadsheets/pdf_di...,18-Sep-16,2016,USA,Florida,2016.09.18.b-Luciano.pdf,Unprovoked,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b
2,5991,2016.09.18.a,10h43,"New Smyrna Beach, Volusia County",male,M,43,Surfing,NaN,Lacerations to lower leg,...,http://sharkattackfile.net/spreadsheets/pdf_di...,18-Sep-16,2016,USA,Florida,2016.09.18.a-NSB.pdf,Unprovoked,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a

In [20]:
# df.fillna("unknown")

In [21]:
# df["Case Number"].isin(df["Case Number.1"])
# df["Case Number"].isin(df["Case Number.2"])
df["Case Number"].isin(df["Date"])
# df["Case Number"].isin(df["Year"])

0       False
1       False
2       False
3       False
4       False
        ...
5987    False
5988    False
5989    False
5990    False
5991    False
Name: Case Number, Length: 5992, dtype: bool

In [22]:
# Check the date with related columns

# df[["Case Number", "Case Number.1"]] # remove Case Number.1 column
# df[["Case Number", "Case Number.2"]] # remove Case Number.2 column
df[["Case Number", "Date"]] # get value for none date from Date column
# df[["Case Number", "Year"]] # remove year column

       Case Number         Date
0     2016.09.18.c    18-Sep-16
1     2016.09.18.b    18-Sep-16
2     2016.09.18.a    18-Sep-16
3       2016.09.17    17-Sep-16
4       2016.09.15    16-Sep-16
...            ...          ...
5987       ND.0005  Before 1903
5988       ND.0004  Before 1903
5989       ND.0003    1900-1905
5990       ND.0002    1883-1889
5991       ND.0001    1845-1853

[5992 rows x 2 columns]

In [80]:
date_dict = df["Date"].to_dict()

In [85]:
# df["Case Number"](lambda x: x.str.replace(r'\ND\.\d\d\d\d', date_dict))

df["Case Number"].replace(^\ND\.\d\d\d\d: date_list, regex = True)

SyntaxError: invalid syntax (<ipython-input-85-8d0266699f59>, line 3)

In [71]:
df["Case Number"].replace(to_replace = r^\ND\.\d\d\d\d, value = date_dict)

SyntaxError: invalid syntax (<ipython-input-71-9b81a3250776>, line 1)

In [ ]:
# def from_date(df):
#     df["Case Number"] = np.where(df["Case"])

# df["Case Number"].str.replace()

# for i in df["Case Number"]:
#     if df["Case Number"].str.contains("ND"):
#         df["Case Number"].empty
#     else:
#         pass

In [ ]:
# date_list = np.array(df["Date"])

In [ ]:
# df["Case Number"].str.contains(to_replace = "ND", value = list(date_list))

In [ ]:
# case_number = list(df["Case Number"])
# nd_replace = []

# if "ND" not in case_number:
#     pass
# else:
#     return df["Date"].index

In [ ]:
# pd.unique(df[["Case Number", "Case Number.1"]])
# pd.Index.unique(df[["Case Number", "Case Number.1"]])
# list(np.unique(df[["Case Number", "Case Number.1"]]))

In [ ]:
# df.groupby(["Case Number", "Case Number.1"])
# df.groupby(["Case Number.1", "Case Number.2"])

In [ ]:
# null_cols = df.isnull().sum()

In [ ]:
# null_cols[null_cols > 0]

In [ ]:
# df.empty

In [ ]:
# ccam = compare_columns_and_merge

# def ccam (col_1, col_2):

In [ ]:
# df[["Country"]][df["Country"].isnull()].head()
# df[["Country"]][df["Country"].isnull()]

In [ ]:
# null_cols[null_cols > 0]

In [ ]:
# len(df)

In [ ]:
# null_cols[null_cols > 0] / len(df)

In [ ]:
# null_perc = null_cols[null_cols > 0] / len(df)
# to_drop = null_perc[null_perc > .6].index
# to_drop

In [ ]:
# df = df.drop(to_drop, axis = 1)

In [ ]:
# df.isnull().sum()[(df.isnull().sum()) > 0]

In [ ]:
# df.mean()

In [ ]:
# df.isna()

In [ ]:
# df.isna().sum()

In [ ]:
# df.info()

In [ ]:
# df.apply(pd.Series.value_counts)

In [ ]:
# df.tail()

In [ ]:
# df = df.dropna()

In [ ]:
# df.columns