In [1]:
import pandas as pd # import python pandas library as pd

In [2]:
df = pd.read_csv("Sacramentorealestatetransactions.csv") # import and read csv file & define "df"

In [3]:
df_clean = df.copy() # make a copy of "df" defined just above line & define "df_clean"

In [4]:
df_clean.columns = [col.replace("__", "_") for col in list(df_clean.columns)] # replace "__" to "_" in names among columns defined df_clean.columns & define "df_clean.columns"

In [5]:
df_clean['city'] = df['city'].str.capitalize() # capitalize string data in "city" column & define "city" column as df_clean['city']

In [6]:
df_clean['latitude'].astype(int) # change data type in "latitude" column to integer

0      38
1      38
2      38
3      38
4      38
       ..
980    38
981    38
982    38
983    38
984    38
Name: latitude, Length: 985, dtype: int64

In [7]:
df_clean["sale_date"] = pd.to_datetime(df_clean["sale_date"], infer_datetime_format = True)
# convert weird date string into form "YYYY-MM-DD" based on timezone

/opt/anaconda3/lib/python3.7/site-packages/dateutil/parser/_parser.py:1206: UnknownTimezoneWarning: tzname EDT identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  category=UnknownTimezoneWarning)

In [8]:
df_clean.to_pickle("clean_sacramento.pkl") # export final dataframe to pickle file
df_clean.to_csv("clean_sacramento.csv") # export final dataframe to csv file

In [9]:
df_clean.head() # check top 5 line of final dataframe

,street,city,zip,state,beds,baths,sq_ft,type,sale_date,price,latitude,longitude
0,3526 HIGH ST,Sacramento,95838,CA,2,1,836,Residential,2008-05-21,59222,38.631913,-121.434879
1,51 OMAHA CT,Sacramento,95823,CA,3,1,1167,Residential,2008-05-21,68212,38.478902,-121.431028
2,2796 BRANCH ST,Sacramento,95815,CA,2,1,796,Residential,2008-05-21,68880,38.618305,-121.443839
3,2805 JANETTE WAY,Sacramento,95815,CA,2,1,852,Residential,2008-05-21,69307,38.616835,-121.439146
4,6001 MCMAHON DR,Sacramento,95824,CA,2,1,797,Residential,2008-05-21,81900,38.519470,-121.435768